<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- console -->
    <property name="console.format"
              value="* %date [%thread] %-5level %logger : {%mdc} - %msg%n"/>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${console.format}</pattern>
        </encoder>
    </appender>

    <!-- file -->
    <property name="file.format" value="* %date [%thread] %-5level %logger : {%mdc} - %msg%n"/>
    <appender name="File" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>./logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>./logs/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>100MB</maxFileSize>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>${file.format}%ex</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="Console"/>
        <appender-ref ref="File"/>
    </root>

</configuration>